#network {
    width: 90%;
    height: 80vh;
    border: 1px solid lightgray;
    margin: 10px;
}

#topBar {
    display: flex;
}

#filterOptsInner {
    display: flex;
}

#modOptsInner {
    display: flex;
}

#modListRow {
    display: flex;
    flex-direction: column;
}


.filterRow {
    display: flex;
    justify-content: space-between;
    margin: 5px 10px;
}

.filterRow label {
    margin: 2px 10px;
}

.child {
    margin-left: 20px;
    margin-right: 20px;
}

.dropdown {
    width: 175px;
}

h2 {
    margin-top: 0.2em;
    margin-bottom: 0.4em;
}

body {
    font-family: 'Orbitron', sans-serif;
    margin: 8px;
    line-height: 1;
}

* {
    font-family: 'Orbitron', sans-serif;
}